/* GENERAL STYLES */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: black;
  font-size: 14px;
  letter-spacing: 0.03;
}
:root {
  background-color: #212121;
  background-color: #ffffff;
  background-color: #757575;
  background-color: #2196f3;
  background-color: #eeeeee;
  background-color: #000000;
  background-color: #f5f4fa;
  background-color: #ffffff99;
  background-color: #2f303a;
  background-color: #ececec;
}
/*--------- HEADER --------*/
.logo {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.last-part {
  color: #212121;
}

.last-part-footer {
  color: #ffffff;
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
}

.geolocation,
.footer-list-tel,
.footer-list,
.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.list,
.nav-list,
.about-list,
.benefits-list,
.team-list,
.footer-list {
  list-style: none;
}

.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}

/* HERO */

.hero-title {
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-btn {
  background-color: #2196f3;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero-btn:active {
  color: #2196f3;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: #212121;
}

.benefits-text {
  font-weight: 400;
  line-height: calc(24 / 14);
  color: #757575;
}
/*---------- ABOUT ----------*/
.about {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: #212121;
}

.about-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: #212121;
}

.team {
  background-color: #f5f4fa;
}

.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: #212121;
}

.team-speciality {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: #757575;
}

/*------- FOOTER ---------*/
.footer {
  background-color: #2f303a;
}

.footer-list {
  font-style: normal;
}

.geolocation {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #ffffff;
}

.footer-list-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}

.geolocation:hover,
.geolocation:focus,
.footer-list-mail:hover,
.footer-list-mail:focus,
.footer-list-tel:hover,
.footer-list-tel:focus {
  color: #2196f3;
}

/*------- PORTFOLIO ---------*/

/*------ PORTFOLIO-HERO -------*/

.hero-list {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: #ffffff;
}

.options-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}

.options-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
